* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

*:focus {
    outline: none;
}

body {
    font: 400 16px 'ProximaNova', sans-serif;
}

a {
    font: 400 16px 'ProximaNova', sans-serif;
    text-decoration: none;
    transition: 300ms;
    display: inline-block;
    line-height: 1;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a img {
    border: none;
    outline: none;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    width: 1336px;
    margin: 0 auto;
    position: relative;
}

.head {
    text-align: center;
}

.head p {
    display: inline-block;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-bottom: 37px;
    border-bottom: 4px solid #5c9800;
}

.link {
    margin-top: 9px;
}

.link a {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background: #5c9800;
    padding: 21px 53px 17px 22px;
    border-radius: 30px;
    position: relative;
}

.link a:hover {
    background: #6eb500;
}

.link a:after {
    content: '';
    display: block;
    background: url(../images/header-link.png) no-repeat 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Header */
.header {
    padding: 22px 0 24px;
}

.header-wrap {
    background: #f3f1f1;
}

.header-items {
    float: left;
    margin-top: 12px;
}

.header-item {
    display: inline-block;
    vertical-align: top;
    width: 193px;
    margin-right: 88px;
    text-align: right;
}

.header-item:last-child {
    margin-right: 0;
}

.header-item b {
    display: block;
    vertical-align: top;
    font-size: 24px;
    margin-bottom: 8px;
}

.header-item a {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 7px;
}

.header-item a:hover {
    color: #5c9800;
}

.header-link {
    float: right;
}

.burger-wrap {
    display: none;
}

.logo {
    margin-right: 15px;
}

.logo-wrap {
    width: 392px;
    float: left;
    margin-right: 99px;
}

.logo-wrap b {
    display: inline-block;
    vertical-align: top;
    width: 116px;
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 19px;
}

/* Nav */
.nav {
    font-size: 0;
}

.nav-wrap {
    position: relative;
    z-index: 5;
}

.nav li {
    display: inline-block;
    vertical-align: top;
}

.nav li.active a {
    color: #000;
    background: #f3f1f1;
}

.nav li a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #5c9800;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 35px;
}

.nav li a:hover {
    color: #000;
    background: #f3f1f1;
}

/* Showcase */
.showcase {
    position: relative;
    height: 600px;
    margin-bottom: 38px;
}

.showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
    margin-top: -50px;
}

.showcase-items {
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.showcase-item {
    display: inline-block;
    vertical-align: top;
    width: 423px;
    height: 130px;
    margin-right: 32px;
    padding: 30px 25px 0 30px;
    background: #5c9800;
}

.showcase-item:last-child {
    margin-right: 0;
}

.showcase-item p {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    padding-left: 25px;
    width: 234px;
}

/* Main-news */
.main-news {
    padding-bottom: 28px;
}

.main-news-items {
    font-size: 0;
    margin-bottom: 30px;
}

.main-news-item {
    display: inline-block;
    vertical-align: top;
    width: 424px;
    margin-right: 32px;
    padding-left: 40px;
    position: relative;
}

.main-news-item:nth-child(3n) {
    margin-right: 0;
}

.main-news-item img {
    width: 20px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 0;
}

.main-news-content span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #b9b2b2;
    font-weight: 800;
    padding: 0 7px;
    line-height: 24px;
    margin-bottom: 16px;
}

.main-news-content p {
    font-size: 16px;
    line-height: 1.6;
}

.main-news-content p a {
    color: #5c9800;
    text-decoration: underline;
    margin-left: 4px;
}

.main-news-content p a:hover {
    text-decoration: none;
}

.main-news-content a {
    color: #5c9800;
    text-decoration: underline;
    margin-left: 4px;
}

.main-news-content a:hover {
    text-decoration: none;
}

.main-news__head {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 17px;
}

.main-news-link {
    text-align: center;
}

.main-news-link a {
    padding: 21px 60px 17px 25px;
}

/* About */
.about {
    position: relative;
    padding: 48px 0;
    margin-bottom: 76px;
}

.about-wrap {
    background-color: #f3f1f1;
}

.about-content {
    width: 668px;
}

.about-head {
    text-align: left;
}

.about-head p {
    font-size: 34px;
    margin-bottom: 21px;
    margin-top: 7px;
}

.about span {
    display: inline-block;
    vertical-align: top;
    line-height: 1.6;
    margin-bottom: 31px;
}

.about-img {
    width: 570px;
    height: 350px;
    position: absolute;
    top: 50px;
    right: 0;
}

.about-link a {
    padding: 21px 60px 17px 27px;
}

/* Service */
.service {
    margin-bottom: 46px;
}

.service-head p {
    margin-bottom: 40px;
}

.service-items {
    font-size: 0;
    margin: 0 10px;
}

.service-item {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 370px;
    margin-right: 56px;
    padding: 41px 40px 0 38px;
    background-color: #f3f1f1;
    transition: 300ms;
    position: relative;
}

.service-item:nth-child(3n) {
    margin-right: 0;
}

.service-item:hover {
    background: #5c9800;
    color: #fff;
}

.service-item:hover .service-item-img,
.service-item:hover .service-link a:after {
    background-position: right;
}

.service-item:hover .service-item__head {
    color: #fff;
}

.service-item:hover .service-link a {
    background: #fff;
    color: #000;
}

.service-item-img {
    background: url(../images/service1.png) no-repeat left;
    width: 84px;
    height: 84px;
    margin-bottom: 30px;
}

.service-item-img2 {
    background: url(../images/service2.png) no-repeat left;
}

.service-item-img3 {
    background: url(../images/service3.png) no-repeat left;
}

.service-item__head {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;
}

.service-item p {
    line-height: 1.6;
    font-size: 16px;
}

.service-link {
    position: absolute;
    bottom: 28px;
    left: 35px;
}

.service-link a {
    padding: 21px 60px 17px 22px;
}

.service-link a:after {
    background: url(../images/link2.png) no-repeat left;
    width: 30px;
    height: 30px;
}

/* Footer */
.footer {
    padding: 40px 0 45px;
}

.footer-wrap {
    background-color: #b9b2b2;
}

.footer .logo-wrap b {
    color: #fff;
}

/* News */
.news-head {
    text-align: left;
    margin-top: 48px;
}

.news-head p {
    margin-bottom: 52px;
}

.news .main-news-item {
    display: block;
    width: 1108px;
    margin: 0 auto;
    padding-bottom: 25px;
    margin-bottom: 41px;
    border-bottom: 1px solid #b9b2b2;
}

.news .main-news-content p {
    line-height: 1.65;
}

.news .main-news__head {
    font-weight: 700;
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 70px 0 70px 215px;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

.pagination li.active a {
    color: #fff;
    background: #5c9800;
}

.pagination li a {
    width: 100%;
    color: #000;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
}

.pagination li a:hover {
    color: #fff;
    background: #5c9800;
}

.pagination .pagination__arrows {
    margin-right: 50px;
}

.pagination .pagination__arrows:last-child {
    margin-right: 0;
    margin-left: 48px;
}

.pagination .pagination__arrows a {
    height: 30px;
}

.pagination .pagination__arrows a:hover {
    background: none;
}

/* Info */
.info {
    padding-bottom: 44px;
}

.info-head {
    margin-top: 47px;
    text-align: left;
}

.info-item {
    margin-bottom: 17px;
}

.info-item-head {
    background-color: #f3f1f1;
    height: 90px;
    cursor: pointer;
    transition: 300ms;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.info-item-head-icons {
    display: inline-block;
    vertical-align: top;
    background-color: #e9e6e6;
    text-align: center;
    width: 83px !important;
    height: 100%;
    transition: 300ms;
}

.info-item-head__icon {
    background: url(../images/info.png) no-repeat left;
    width: 32px;
    height: 40px;
    margin: 0 auto;
    height: 90px;
}

.info-item-head__text {
    display: inline-block;
    vertical-align: top;
    padding-left: 27px;
    font-weight: 700;
    font-size: 20px;
    padding-right: 10px;
}

.info-item-head:hover {
    background: #5c9800;
}

.info-item-head:hover .info-item-head-icons {
    background-color: #4a7b00;
}

.info-item-head:hover .info-item-head__icon {
    background-position: right;
}

.info-item-head:hover .info-item-head__text {
    color: #fff;
}

.info-item-content {
    display: none;
    padding: 25px 0 0 117px;
}

.info-item-content a {
    display: block;
    text-decoration: underline;
    color: #5c9800;
    margin-bottom: 20px;
}

.info-item-content a:hover {
    text-decoration: none;
}

.info-item.active .info-item-content {
    display: block;
    margin-bottom: 30px;
}

.info-item.active .info-item-head-icons {
    background-color: #4a7b00;
}

.info-item.active .info-item-head__icon {
    background-position: right;
}

.info-item.active .info-item-head {
    background: #5c9800;
}

.info-item.active .info-item-head__text {
    color: #fff;
}

/* Contacts */
.contacts {
    padding-bottom: 27px;
}

.contacts .news-head p {
    margin-bottom: 43px;
}

.contacts-item {
    display: inline-block;
    vertical-align: top;
    width: 640px;
    margin-right: 155px;
}

.contacts-item:last-child {
    width: auto;
    margin-right: 0;
}

.contacts-item:last-child .contacts-item-par b {
    width: 222px;
}

.contacts-item-par {
    margin-bottom: 28px;
}

.contacts-item-par b {
    display: inline-block;
    vertical-align: top;
    width: 336px;
    line-height: 1.6;
}

.contacts-item-content {
    display: inline-block;
    vertical-align: top;
    width: 280px;
}

.contacts-item-content p {
    margin-bottom: 12px;
    line-height: 1.1;
}

.contacts-item-content span {
    line-height: 1.6;
}

.contacts-item-content__tel {
    color: #000;
    font-weight: 700;
}

.contacts-item-content__tel:hover {
    color: #5c9800;
}

.contacts-item-content__mail {
    text-decoration: underline;
    color: #5c9800;
}

/* Map */
.map {
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*# sourceMappingURL=style.css.map */